<div>
  <div>
    <h3 *ngIf="!isEdit">Novo Dragão</h3>
    <h3 *ngIf="isEdit">Edição Dragão ({{ form.controls["name"].value }})</h3>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div>
        <div>
          <label for="name">Nome</label>
          <input
            type="text"
            [formControl]="form.controls['name']"
            maxlength="30"
            id="name"
            placeholder="Nome"
          />
        </div>
        <div>
          <label for="type">Tipo</label>
          <input
            type="text"
            maxlength="20"
            [formControl]="form.controls['type']"
            id="type"
            placeholder="Tipo"
          />
        </div>
        <div *ngIf="isEdit">
          <label for="createdDate">Data de Criação</label>
          <input
            type="text"
            disabled
            [formControl]="form.controls['createdAt']"
            id="createdDate"
            placeholder="Data de Criação"
          />
        </div>
      </div>


      <div class="menu-bar menu-bar-footer">

        <a
        href="javascript:void(0)"
        class="btn btn-warning"
        [routerLink]="['/dragons']"
        >Voltar</a
      >
      <button type="submit" class="btn btn-new">
        <ng-container *ngIf="!isEdit">Cadatrar</ng-container>
        <ng-container *ngIf="isEdit">Editar</ng-container>
      </button>

      </div>


    </form>
  </div>
</div>
