<div>
  <div class="menu-bar">

    <button (click)="logoff()" class="btn btn-logout" type="button">
      <span class="fa fa-user fa-fw"></span> Sair
    </button>

    <a [routerLink]="['./new']" class="btn btn-new">Novo Dragão</a>

  </div>
  <table>
    <thead>
      <tr>
        <th style="width: 10%;">Data de Criação</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th style="width: 10%;">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="items.length == 0">
        <td colspan="4">Não foi encontrado nenhum registro para essa pagina</td>
      </tr>
      <tr *ngFor="let op of items">
        <th>{{ op.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}</th>
        <td>{{ op.name }}</td>
        <td>{{ op.type }}</td>
        <td>
          <div>
            <button [routerLink]="['./' + op.id]" *ngIf="op.id != ''">
              <i>Editar</i>
            </button>
            <button *ngIf="op.id != ''" (click)="delete(op)">
              <i>Excluir</i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>

      <tr>

        <td colspan="4">

          <div>

            <button (click)="prevPage()" *ngIf="pagination.page > 1"><</button>
            <span>{{ pagination.page }}</span>
            <button (click)="nextPage()">></button>
          </div>

        </td>

      </tr>
    </tfoot>
  </table>
</div>