
<header>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['./dragons']"
      >Sicredi</a>
  </nav>
  
</header>

<main>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</main>


<footer>
</footer>