<h1 class="form-heading"></h1>
<div class="login-form">
  <div class="main-div">
    <div class="panel">
      <h3>Login</h3>
      <p>E-mail e senha (email:dragoes, senha: 123)</p>
    </div>
    <form id="Login" [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <input type="email" autocomplete="false" [formControl]="form.controls['email']" class="form-control"
          placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" autocomplete="false" class="form-control" [formControl]="form.controls['password']"
          placeholder="Password" />
      </div>
      <div class="forgot"></div>
      <button type="submit" (click)="login()" class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
  <div class="botto-text" *ngIf="errorLogin">
    Usuário ou senha inválido
  </div>
</div>