/* You can add global styles to this file, and also import other style files */
html {
    @media (max-width: 1199px) {
        background:#3fa110;
    }
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;

    header {
            
        @media (min-width: 1200px) {
            background:#3fa110;
            padding: 0.5rem 0;
            margin-bottom: 1rem;
            box-shadow: 0 -5px 10px 2px rgba(0,0,0.16);
        }

        nav {
            padding: 0 15px;
            margin: 0 15px;
            margin: 0 auto;
            width: calc(100% - 30px);
            
            @media (min-width: 1200px) {
                max-width: 1190px;
            }
        }
    
        a.navbar-brand {
            display: block;
            width: 181px;
            height: 43px;
            text-indent: -99999rem;
            margin: 3rem auto;
            background: url("assets/img/sicredi-logo.svg") no-repeat;
            filter:brightness(2000%) grayscale(1);
        }

    }

    main {
        padding: 0 15px;

        .menu-bar {
            display: flex;
            justify-content: space-between;
            @media (max-width:1199px) {
                padding: 0 15px;
            }
        }

        .container {
            @media (max-width:1199px) {
                padding: 15px 0;
                box-shadow: 0 0 3px 3px rgba(0,0,0,0.16);
            }
        }

        h3 {
            font-size: 30px;
            padding: 0 15px;
        }

        p {
            padding-top: 10px;
        }

        form {
            padding: 15px;

            &#Login {
                @media (min-width:1200px) {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            > div {
                > div {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 15px 0;
                    @media (min-width:1200px) {
                        flex-wrap: nowrap;
                    }
                }
            }
            label {
                display: block;
                width: 100%;
                padding: 0 0 10px 0;
                @media (min-width:1200px) {
                    max-width: 200px;
                    padding: 0;
                }
            }
            input  {
                padding: 15px;
                background: #f5f5f5;
                width: 100%;
            }
        }
    }

    footer {
        
        @media (max-width: 1199px) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        button {
            padding: 5px 10px;
            background: #f5f5f5;
        }
    }

    .container {
        background-color: white;
        padding: 15px;
        margin: 0 auto;
        width: 100%;
        
        @media (min-width: 1200px) {
            max-width: 1190px;
        }
    }

    input {
        width: 80%;
        padding: 0 1rem;
        border: 1px  solid transparent;
        &.ng-invalid.ng-touched {
            border-color: red;
        }
    }


    .main-div {
        border: 1px solid #ddd;
        width: calc(100% - 30px);
        margin: 0 15px;
        padding: 50px 0 70px 0 !important;
        max-width: 650px !important;
        .panel {
            padding: 0 15px;
        }
        form {
            height: auto;
        }
    }

    table {
        text-align: left;
        border-spacing: 0;
        margin: 15px 0;
        thead {
            background: #f1f1f1;
            tr {
                th {
                    padding: 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    &:last-child {
                        > div {
                            @media (min-width: 1200px) {
                                display: flex;
                            }
                        }
                    }
                }
                th,
                td {
                    padding: 10px;
                }
                &:nth-child(2n) {
                    background: #f8f8f8;
                }
                button {
                    display: flex;
                    align-items: center;
                    background:transparent;
                    border: 0;
                    padding: 10px;
                    cursor: pointer;
                    i {
                        display: none;
                    }
                    &:hover {
                        opacity: .7;
                    }
                    &:after {
                        content: "";
                        display: block;
                        float: left;
                        width: 20px;
                        height: 20px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    &:first-child {
                        &:after {
                            background: url("assets/img/edit.svg");
                        }
                    }
                    &:last-child {
                        &:after {
                            background: url("assets/img/close.svg");
                            background-size: cover;
                        }
                    }
                }
            }
        }
        tfoot {
            tr td div {
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: 1200px) {
                    padding: 2rem 0;
                }
            }
            span,
            button {
                padding: 4px 8px;
                margin: 0 5px   ;
                border-radius: 100%;
                font-weight: bold;
            }
        }
    }



    /* BOTOES */

    .btn {
        font-size: 100%;
        cursor: pointer;
        text-decoration: none;

        transition: all .3s ease;
        -moz-transition: opacity all .3s ease;
        -webkit-transition: opacity all .3s ease;

        &:hover {
            box-shadow: inset 0 0 300px rgba(0,0,0,.2);
        }

        &.btn-primary{
            background-color: #3fa110;
            border: none;
            color: #fff;
            width: 100%;
            padding: 15px 0;
        }

        &.btn-new {
            display: inline-flex;
            border-radius: 5px;
            padding: 10px 18px;
            color: white;
            background:#3fa110; 
        }

        &.btn-logout {
            display: inline-flex;
            border-radius: 5px;
            padding: 10px 18px;
            color: black;
            background:#f1f1f1; 
        }

        &.btn-warning {
            display: inline-flex;
            border-radius: 5px;
            padding: 10px 18px;
            color: black;
            background:#f1f1f1; 
        }
    }

}
